.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

.docSidebar {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: 996px) {
  .docSidebar {
    display: none;
  }

  .mobileCopyButton {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    --doc-copy-padding-horizontal: var(--ifm-toc-padding-horizontal);
  }
}

@media (min-width: 997px) {
  .mobileCopyButton {
    display: none;
  }
}
