VITE_RPC_URI_FOR_1=https://rpc.yearn.fi/chain/1
VITE_RPC_URI_FOR_10=https://rpc.yearn.fi/chain/10
VITE_RPC_URI_FOR_100=https://rpc.yearn.fi/chain/100
VITE_RPC_URI_FOR_137=https://rpc.yearn.fi/chain/137
VITE_RPC_URI_FOR_250=https://rpc.yearn.fi/chain/250
VITE_RPC_URI_FOR_8453=https://rpc.yearn.fi/chain/8453
VITE_RPC_URI_FOR_42161=https://rpc.yearn.fi/chain/42161
VITE_RPC_URI_FOR_747474=https://rpc.yearn.fi/chain/747474
