/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  padding: 2rem 0;
  display:flex; 
  height:fit-content; 
  text-align: center;
  position: relative;
  overflow: hidden;
  height: flex;
  background: radial-gradient(110.03% 139.64% at 0% 100%, #01E29F 0%, #046973 33.72%, #114668 53.74%, #133D67 73.81%, #1D2860 100%);

}
.heroBanner .paragraph a {
  color: #e2a2ff; 
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.card {
  font-family: 'Roboto Slab', 'Roboto', serif;
  display: flex;
  min-width: 500px;
  min-height: 210px;
  padding: 1.3rem;
  margin: 1rem;
  flex-direction: column;
  justify-content: top;
  cursor: pointer;
  border: 0px solid;
  border-radius: 0px;
  background-color: #121213;
  color: #888;
}
.card h2 {
  font-family: 'Roboto Slab', 'Roboto', serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
.card:hover {
  color: #9BBCFD;
  background-color: #0657F9;
}
.card:hover h2 {
  color: white;
}
.card:before {
  content: "\27F6";
  font-size: 1.45rem;
  color: white;
  opacity:0;
  height:0;
  width:0;
  position: relative;
  display: block;
  left:82%;
}
.card:hover:before {
  opacity:1;
  left:94%;
  transition: 0.5s ease;
}

.textBox {
  display: flex;
  padding: 1.3rem;
  min-width: 475px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-color: rgba(194, 194, 194, 0.363);
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
  background-color: #00000060;

  }



 .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 960px;
}

.title {
  font-family: 'Roboto Slab', 'Roboto', serif;
  font-weight: 900;
  position: relative;
  text-align:left;
  padding-left:1rem;
  font-size: 50px;
  color: white;
}

.header {
  font-size: 36px;
  color:white;
}

.header3 {
  align-items: center;
}

.paragraph {
  color: white;
  list-style-type: none;
  font-size: 18px;
  text-align:left;
}

.paragraph:hover {
  text-decoration: underline;
}

html[data-theme="light"] .card {
  background-color:#ececec;
  color:#888;
}
html[data-theme="light"] .card h2 {
  color:#000;
}
html[data-theme="light"] .card:hover {
  color: #9BBCFD;
  background-color: #0657F9;
}
html[data-theme="light"] .card:hover h2 {
  color: white;
}

html[data-theme="light"] .textBox {
  background-color:#3d3d3d4f;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.521);
}
html[data-theme="light"] .title {
  color:inherit;
}


.learn {
  background-image: url("/static/img/learn.png");
  background-size:cover;
  display: flex;
  padding: 1rem;
  min-width: 475px;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  border-color: rgba(194, 194, 194, 0.363);
  border-radius: 20px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
}


@media screen and (max-width: 1082px) {
  .row {
    grid-template-columns: 1fr;
  }
  .textBox {
    min-width: 92%;
    margin: 0.5rem;
  }
  .card {
    min-width: 88%;
    margin: 0.8rem;
  }
  .learn {
    margin:0.5rem;
    min-width: 92%;
    min-height: 50vh;
  }
}