/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.card {
  font-family: 'Roboto Slab', 'Roboto', serif;
  display: flex;
  min-width: 500px;
  min-height: 210px;
  padding: 1.3rem;
  margin: 1rem;
  flex-direction: column;
  justify-content: top;
  cursor: pointer;
  border: 0px solid;
  border-radius: 0px;
  background-color: #121213;
  color: #888;
}
.card h2 {
  font-family: 'Roboto Slab', 'Roboto', serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
.card:hover {
  color: #9BBCFD;
  background-color: #0657F9;
}
.card:hover h2 {
  color: white;
}
.card:before {
  content: "\27F6";
  font-size: 1.45rem;
  color: white;
  opacity:0;
  height:0;
  width:0;
  position: relative;
  display: block;
  left:82%;
}
.card:hover:before {
  opacity:1;
  left:94%;
  transition: 0.5s ease;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 960px;
}

.title {
  font-family: 'Roboto Slab', 'Roboto', serif;
  font-weight: 900;
  position: relative;
  text-align:left;
  padding-left:1rem;
  font-size: 50px;
  color: white;
}

html[data-theme="light"] .card {
  background-color:#ececec;
  color:#888;
}
html[data-theme="light"] .card h2 {
  color:#000;
}
html[data-theme="light"] .card:hover {
  color: #9BBCFD;
  background-color: #0657F9;
}
html[data-theme="light"] .card:hover h2 {
  color: white;
}

html[data-theme="light"] .title {
  color:inherit;
}

@media screen and (max-width: 1082px) {
  .row {
    grid-template-columns: 1fr;
  }

  .card {
    min-width: 88%;
    margin: 0.8rem;
  }
}