.yearnDiv {
  background-color: var(--ifm-color-primary-dark);
  border-radius: 5px;
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  margin-bottom: 1em;
  border: var(--ifm-alert-border-width) solid var(--ifm-color-primary-light);
  border-left-width: var(--ifm-alert-border-left-width);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
}

.yearnDiv.data {
  /* Specific .data style for yearnDiv */
  background-color: unset;
  /* box-shadow: 0 1px 2px 0 var(--ifm-color-primary-light); */
  border: solid 1px var(--ifm-color-primary-light);
  border-left-width: var(--ifm-alert-border-left-width);
}

.yearnTitle {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}

.yearnHeading {
  color: white;
  font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  margin-bottom: 0;
  margin-left: 0.5em;
}

.yearnHeading.data {
  /* Specific .data style for yearnHeading */
  color: unset;
}

.yearnBody {
  color: white;
}

.yearnBody.data {
  /* Specific .data style for yearnBody */
  color: unset;
}

.yearnLogo {
  width: 24px;
}

.yearnBody code {
  background-color: var(--ifm-color-primary-darker);
}

.yearnBody.data code {
  /* Specific .data style for yearnBody code */
  background-color: unset;
}

