.yearnDiv {
  background-color: var(--ifm-color-primary-dark);
  border-radius: 5px;
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  margin-bottom: 1em;
  border: var(--ifm-alert-border-width) solid var(--ifm-color-primary-light);
  border-left-width: var(--ifm-alert-border-left-width);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
}

.yearnTitle {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}

.yearnHeading {
  color: white;
  font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  margin-bottom: 0;
  margin-left: 0.5em;
}

.yearnBody {
  color: white;
}
