/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007bff;
  --ifm-color-primary-dark: rgb(0, 106, 227);
  --ifm-color-primary-darker: rgb(0, 86, 227);
  --ifm-color-primary-darkest: rgb(0, 66, 227);
  --ifm-color-primary-light: rgb(52, 142, 245);
  --ifm-color-primary-lighter: rgb(52, 142, 245);
  --ifm-color-primary-lightest: rgb(52, 142, 245);
  --ifm-code-font-size: 95%;
}

.DocSearch {
  width: 240px;
}

html[data-theme="dark"] .DocSearch {
  background: #00000060;
  border: solid 1px rgba(194, 194, 194, 0.363);
}

html[data-theme="dark"] .DocSearch:hover {
  background: #00000060;
  border: solid 1px rgba(194, 194, 194, 0.363);
}

html[data-theme="light"] .DocSearch {
  background: #3d3d3d4f;
  border: solid 1px rgba(128, 128, 128, 0.521);
}

html[data-theme="light"] .DocSearch:hover {
  background: #3d3d3d4f;
  border: solid 1px rgba(128, 128, 128, 0.521);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

@media screen and (max-width: 1082px) {
  .DocSearch {
    width: inherit;
  }
}
.navbar__item {
  margin-right: 0.43em;
}
