/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('/static/fonts/fonts.css');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #007bff;
  --ifm-color-primary-dark: rgb(0, 106, 227);
  --ifm-color-primary-darker: rgb(0, 86, 227);
  --ifm-color-primary-darkest: rgb(0, 66, 227);
  --ifm-color-primary-light: rgb(52, 142, 245);
  --ifm-color-primary-lighter: rgb(52, 142, 245);
  --ifm-color-primary-lightest: rgb(52, 142, 245);
  --ifm-code-font-size: 95%;
  --ifm-toc-border-color: transparent;
  --ifm-menu-color-background-active: transparent;
  --ifm-navbar-height: 5rem;
  --ifm-font-family-base: 'Aeonik', 'Roboto', serif;

  /* shadcn vars */
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --border: 0 0% 50%;
  --input: 214.3 31.8% 91.4%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;
  --button-text: 222.2 47.4% 80.2%;
  --shadow-color: 0 0% 0% / 0.3;
  --chart-1: #46a2ff;
  --chart-2: #a4bbd2;
  --chart-3: #6786db;
  --chart-grid-color: 0 0% 0% / 0.2;
}

html[data-theme='dark'] {
  --ifm-toc-border-color: transparent;
  /* background-color: #18191a; */
  --background: var(--ifm-background-color);
  --foreground: 0 0% 100%;
  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;
  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;
  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;
  /* --border: 216 34% 17%; */
  --border: 0 0% 50%;
  --input: 216 34% 17%;
  --card: var(--ifm-background-color);
  --card-foreground: 213 31% 91%;
  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 1.2%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 210 40% 98%;
  --ring: 215 20.2%% 40%;
  --button-text: 222.2 47.4% 11.2%;
  --shadow-color: 0 0% 0%;
  --chart-1: #46a2ff;
  --chart-2: #a4bbd2;
  --chart-grid-color: 0 0% 100% / 0.2;
}

.body {
  font-family: 'Aeonik', 'Roboto', serif;
  overflow: scroll;
}
.body class data-rh {
  overflow: scroll;
}

#__docusaurus {
  max-width: 1500px;
  margin: auto;
}

code {
  vertical-align: unset;
}

.row {
  padding: 0 var(--ifm-navbar-item-padding-horizontal);
}

/* ---HEADER--- */
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url('/img/github-icon.svg');
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}
.header-github-link {
  padding-right: 10px;
  padding-left: 10px;
}
.header-yearn-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url('/img/yearn-link-icon.svg');
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-yearn-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}
.header-yearn-link {
  padding-right: 10px;
  padding-left: 10px;
}

/* ---DOCSEARCH--- */
.DocSearch {
  width: 160px;
}
html[data-theme='dark'] .DocSearch {
  background-color: var(--ifm-background-color);
  border: solid 2px var(--ifm-color-emphasis-300);
  color: var(--ifm-color-emphasis-300);
}
html[data-theme='dark'] .DocSearch-Search-Icon {
  color: var(--ifm-color-emphasis-300);
}
html[data-theme='dark'] .DocSearch:hover {
  border: solid 1px rgba(194, 194, 194, 0.363);
}
html[data-theme='light'] .DocSearch {
  background-color: var(--ifm-background-color);
  border: solid 2px var(--ifm-color-emphasis-500);
  color: var(--ifm-color-emphasis-500);
}
html[data-theme='light'] .DocSearch-Search-Icon {
  color: var(--ifm-color-emphasis-500);
}
html[data-theme='light'] .DocSearch:hover {
  border: solid 1px rgba(128, 128, 128, 0.521);
}

/* ---NAVBAR--- */
.navbar {
  box-shadow: none;
}
/* .navbar__title {
  font-weight: 400;
  margin-right: auto;
} */
.navbar__items .navbar__item:first-child {
  margin-left: auto;
  padding-left: 0;
}
.navbar__items .navbar__brand {
  margin: 0;
}
@media screen and (max-width: 1075px) {
  .navbar__items .navbar__brand {
    min-width: calc(var(--doc-sidebar-width) - (1075px - 100vw));
  }
}
.navbar__items .navbar__item:last-child {
  margin-right: auto;
}
.navbar__item {
  margin-right: 0.43em;
  font-weight: 400;
  padding-right: 0;
  font-size: 14px;
}
html[data-theme='dark'] .navbar {
  background-color: var(--ifm-background-color);
}
html[data-theme='dark'] .react-toggle-thumb {
  background-color: var(--ifm-background-color);
}

/* ---SIDEBAR--- */
.menu__list-item-collapsible--active {
  background-color: var(--ifm-menu-color-background-active);
}
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
.menu__link {
  font-size: 15px;
}
.menu__link--sublist-caret::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
.menu__list-item--collapsed .menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

/*--- SIDEBAR DIVIDER ---*/
/* dividers should be added in the sidebars file like this:
    {
      type: 'html',
      value: '<hr/>',
      className: 'divider',
    },
*/
.divider {
  --ifm-hr-margin-vertical: 10px;
}

/*---DETAIL COMPONENT (dropdown)---*/
.customDetails {
  background-color: transparent;
  --ifm-alert-border-color: grey;
}

.customDetails h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.customFaqDetails {
  background-color: transparent;
  --ifm-alert-border-color: grey;
  border: none !important;
  box-shadow: none;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.collapsibleContent_node_modules-\@docusaurus-theme-common-lib-components-Details-styles-module {
  margin-top: 0px !important;
  border-top: none !important;
  padding-top: 0px !important;
}

.details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module {
  margin: 0px !important;
}

/*---IMG stuff---*/

img {
  height: auto;
}
.topRightImg {
  object-fit: cover;
  object-position: 100% 0%;
  background-size: 20%;
}
.bottomLeftImg {
  object-fit: cover;
  object-position: 0% 100%;
}
