/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('/static/fonts/fonts.css');
/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: rgb(0, 123, 255);
  --ifm-color-primary-dark: rgb(0, 106, 227);
  --ifm-color-primary-darker: rgb(0, 86, 227);
  --ifm-color-primary-darkest: rgb(0, 66, 227);
  --ifm-color-primary-light: rgb(52, 142, 245);
  --ifm-color-primary-lighter: rgb(52, 142, 245);
  --ifm-color-primary-lightest: rgb(52, 142, 245);
  --ifm-code-font-size: 95%;
  --ifm-toc-border-color: transparent;
  --ifm-menu-color-background-active: transparent;
  --ifm-font-family-base: 'Aeonik', 'Roboto', serif;
  --ifm-navbar-height: 5rem;
  /* --ifm-menu-link-sublist-icon: url('/img/icons/dropdown-svgrepo-com.svg'); */
}
html[data-theme='dark'] {
  --ifm-toc-border-color: transparent;
}

.menu__list-item-collapsible--active {
  background-color: var(--ifm-menu-color-background-active);
}
.menu__link {
  font-size: 15px;
}
/* .menu__list-item-collapsible {
  flex-direction: row-reverse;
} */
.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.menu__link--sublist-caret::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
.menu__list-item--collapsed .menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}
/*
.menu__list-item--collapsed .menu__caret:before {
  transform: rotateZ(-90deg);
} */

#__docusaurus {
  max-width: 1300px;
  margin: auto;
}

.body {
  font-family: 'Aeonik', 'Roboto', serif;
  overflow: scroll;
}
.body class data-rh {
  overflow: scroll;
}

code {
  vertical-align: baseline;
}

/* ---HEADER--- */
.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}
.header-github-link {
  padding-right: 10px;
  padding-left: 10px;
}
.header-yearn-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 359.7 359.7'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23000; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M314.5,138.3l-46.6,45.6c2.6,8.3,3.9,17.1,3.9,26,0,24-9.6,46.6-27,63.6-17.4,17-40.5,26.3-65.1,26.3s-47.7-9.4-65.1-26.3c-17.4-17-27-39.6-27-63.6s1.3-17.7,3.9-26l-46.7-45.6c-11.8,21.3-18.6,45.7-18.6,71.6,0,82.8,68.7,149.8,153.4,149.8s153.4-67.1,153.4-149.8-6.7-50.3-18.6-71.6h0Z'/%3E%3Cpolygon class='cls-1' points='149.1 239.8 210.4 239.8 210.4 144.5 314.9 42.4 271.5 0 179.8 89.6 88 0 44.6 42.4 149.1 144.4 149.1 239.8'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.header-yearn-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}
.header-yearn-link {
  padding-right: 10px;
  padding-left: 10px;
}

/* ---DOCSEARCH--- */
.DocSearch {
  width: 160px;
}
html[data-theme='dark'] .DocSearch {
  background-color: var(--ifm-background-color);
  border: solid 2px var(--ifm-color-emphasis-300);
  color: var(--ifm-color-emphasis-300);
}
html[data-theme='dark'] .DocSearch-Search-Icon {
  color: var(--ifm-color-emphasis-300);
}
html[data-theme='dark'] .DocSearch:hover {
  border: solid 1px rgba(194, 194, 194, 0.363);
}
html[data-theme='light'] .DocSearch {
  background-color: var(--ifm-background-color);
  border: solid 2px var(--ifm-color-emphasis-500);
  color: var(--ifm-color-emphasis-500);
}
html[data-theme='light'] .DocSearch-Search-Icon {
  color: var(--ifm-color-emphasis-500);
}
html[data-theme='light'] .DocSearch:hover {
  border: solid 1px rgba(128, 128, 128, 0.521);
}
@media screen and (max-width: 1082px) {
  .DocSearch {
    width: inherit;
  }
}
@media screen and (min-width: 751px) and (max-width: 1082px) {
  html[data-theme='dark'] .DocSearch {
    border: none;
  }
  html[data-theme='dark'] .DocSearch:hover {
    border: none;
  }
  html[data-theme='light'] .DocSearch {
    border: none;
  }
  html[data-theme='light'] .DocSearch:hover {
    border: none;
  }
}

/* ---NAVBAR--- */
.navbar {
  box-shadow: none;
  /* padding-top: 18px;
  margin-bottom: 20px; */
}
.navbar__items .navbar__item:first-child {
  margin-left: auto;
  padding-left: 0;
}
.navbar__items .navbar__brand {
  /* margin-right: 145px; */
  /* min-width: var(--doc-sidebar-width); */
  margin: 0;
}
@media screen and (max-width: 1075px) {
  .navbar__items .navbar__brand {
    min-width: calc(var(--doc-sidebar-width) - (1075px - 100vw));
  }
}
.navbar__items .navbar__item:last-child {
  margin-right: auto;
}
.navbar__item {
  margin-right: 0.43em;
  font-weight: 400;
  padding-right: 0;
  font-size: 14px;
}
html[data-theme='dark'] .navbar {
  background-color: var(--ifm-background-color);
}
html[data-theme='dark'] .react-toggle-thumb {
  background-color: var(--ifm-background-color);
}

/*---DETAIL COMPONENT (dropdown)---*/
.customDetails {
  background-color: transparent;
  --ifm-alert-border-color: grey;
}

.customDetails h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/*---IMAGES---*/
img {
  height: auto;
}
.topRightImg {
  object-fit: cover;
  object-position: 100% 0%;
  background-size: 20%;
}
.bottomLeftImg {
  object-fit: cover;
  object-position: 0% 100%;
}

/* ---FOOTER--- */
.footer__title,
.footer__item {
  font-family: 'Roboto Slab', 'Roboto', serif;
}
.footer {
  padding-top: 4rem;
}
.footer__title {
  font-size: 1.28rem;
}
.footer__item {
  margin-bottom: 1rem;
}

/* NO LONGER USED
html[data-theme='dark'] .wireImg {
  background: radial-gradient(ellipse at right, #aaa, transparent),
    radial-gradient(ellipse at left, #aaa, transparent);
}
html[data-theme='dark'] .wireImg2 {
  background: radial-gradient(ellipse at right, #333, transparent),
    radial-gradient(ellipse at left, #333, transparent);
} */

/*--- SIDEBAR DIVIDER ---*/
/* dividers should be added in the sidebars file like this:
    {
      type: 'html',
      value: '<hr/>',
      className: 'divider',
    },
*/
.divider {
  --ifm-hr-margin-vertical: 10px;
}
