.prettylink {
  display: block;
  width: 100%;
  background: linear-gradient(
    to left,
    var(--ifm-color-primary-darkest),
    var(--ifm-color-primary-lightest)
  );
  font-weight: 600;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add box shadow */
  position: relative;
}
.prettylink:hover {
  color: #fff; /* Set the desired color when hovering */
  background: linear-gradient(
    to left,
    color-mix(
      in srgb,
      var(--ifm-color-primary-darkest),
      var(--ifm-color-primary) 50%
    ),
    color-mix(
      in srgb,
      var(--ifm-color-primary-lightest),
      var(--ifm-color-primary-darkest) 50%
    )
  );
  outline: 1px solid var(--ifm-color-primary-darkest);

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
html[data-theme='dark'] .prettylink:hover {
  color: #fff;
  outline: 1px solid #fff;
}
.prettylink:before {
  content: '\27F6';
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  left: 75%;
  bottom: 100%;
  z-index: 1;
}
.prettylink:hover::before {
  left: 90%;
  opacity: 100%;
  transition: 0.5s ease;
}

.textContainer {
  padding: 0 1rem;
}
