/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.card {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* height: 100%; */
  padding: 5px;
}

.text {
  font-family: 'Roboto Slab', 'Roboto', serif;
  display: flex;
  /* min-width: 500px; */
  max-width: 700px;
  min-height: 210px;
  /* padding: 1.3rem;
  margin: 1rem; */
  flex-direction: column;
  justify-content: center;
  border: 0px solid;
  border-radius: 0px;
  color: #525252;
  flex: 2;
}
.text h2 {
  font-family: 'Roboto Slab', 'Roboto', serif;
  font-weight: 400;
  font-size: 1.7rem;
}

.image {
  display: flex;
  max-width: 200px;
  height: auto;
  object-fit: contain;
  flex: 1;
}
@media screen and (max-width: 996px) {
  .text {
    position: relative;
    padding: 0 1rem;
    color: #525252;
  }
  .image {
    flex: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    right: 110px;
    bottom: 0px;
  }
}
