.CardHeader {
  padding: 0;
  padding-bottom: 1rem;
}

.CardContent {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 1.5rem 0 1.5rem;
  gap: 1rem;
}

.inputElements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.CardFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: left;
  padding: 0;
  justify-content: space-between;
  padding-top: 1rem;
}

.encodedDataCard {
  margin-top: -1rem;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
}

.copyIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.encodedDataCard:hover .copyIcon {
  opacity: 0.5;
}
