@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.logo {
  height: 50px;
  width: 50px;
}

.spinnerContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 4rem;
  height: 4rem;
  border: 2px solid #0657f9;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
