.Card {
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  box-shadow: 0 1px 2px 0 hsl(var(--card) / 0.5);
}

.CardHeader {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.CardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
}

.CardDescription {
  font-size: 0.875rem;
  color: hsl(var(--muted-foreground));
}

.CardContent {
  position: relative;
}

.CardFooter {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  padding-top: 0;
}
